.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  height: 53px;
  margin: 0 auto;
  padding: 0 40px;
}

.navbar ul li{
  list-style-type: none;
}

.navbar ul{
  display: flex;
  gap: 40px;
}